.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 30px;
}

h2 {
  font-size: 28px; /* Increased font size */
  margin-bottom: 30px; /* Increased margin for better spacing */
  color: #333;
  text-align: center;
}

.avatar {
  width: 120px; /* Increased avatar size */
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centering elements */
  width: 100%;
  max-width: 400px; /* Increased max-width for larger box */
  background: #fff;
  border-radius: 10px;
  padding: 50px; /* Increased padding for more space */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Stronger shadow for depth */
}

input[type="text"],
input[type="password"] {
  width: auto;
  padding: 15px; /* Increased padding for inputs */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  
  margin-bottom: 20px; /* Adjusted margin for spacing */
  box-sizing: content-box;
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: #333;
  border-radius: 4px;
  font-size: 18px; /* Consistent font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.create-account {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

.create-account a {
  color: #007bff;
  text-decoration: none;
}

.create-account a:hover {
  text-decoration: underline;
}
